@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    font-family: 'Space Mono';  
    margin: 0;
    box-sizing: border-box; 
    font-weight: 700; 
}
main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    background: hsl(185, 41%, 84%); 
    gap: 30px; 
}
#card {
    display: flex;
    width: 90vw; 
    max-width: 42.5rem;  
    border-radius: 20px;
    background: white;
    padding: 1.5rem 2rem;
    gap: 2rem; 
} 
form { 
    width: 50%;
    height: 100%;
    display: grid;
}
input { 
    color: hsl(183, 100%, 15%);
    transition: .1s; 
}
input:focus { 
    outline: none;  
} 
input[type$="text"]:focus {
    outline: 2px solid hsl(172, 67%, 45%);  
    box-shadow: 0 0 5px hsl(172, 67%, 45%);
}
#bill-input-div {
    position: relative;
}
#bill-input-div::before {
    content: url(images/icon-dollar.svg);
    position: absolute; 
    top: 32%;   
    left: 1rem;
    transform: translateY(-50%)
}
#bill-input-div::after, #number-of-people-div::after {
    content: "Can't be zero";
    position: absolute;
    top: -20px;
    right: 0;
    color: rgb(220, 0, 0); 
    font-size: .8rem; 
    visibility: hidden;
}
#bill-input-div.invalid-amount::after, #number-of-people-div.invalid-amount::after {
    visibility: visible; 
}
#bill-input-div.invalid-amount input, #number-of-people-div.invalid-amount input {
    outline: 2px solid rgb(220, 0, 0);  
}
#bill-input {
    width: 100%;
    text-align: right; 
    background: hsl(189, 41%, 97%); 
    padding: .2rem 1rem;
    border: none;
    font-size: 1.5rem;  
    margin: 0 0 2rem;
    border-radius: 3px;
}
#tip-selection-grid {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    align-items: center; 
    gap: 10px;
    margin: 0 0 2rem;
}
.radio-button-div {
    position: relative;
    color: hsl(0, 0%, 100%);
}
.radio-button-div label { 
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%); 
    cursor: pointer; 
    transition: .2s;
}
.tip-percentage-button { 
    appearance: none; 
    width: 100%; 
    height: 30px;
    background: hsl(183, 100%, 15%);
    border-radius: 3px;  
    padding: 10px 0;
    cursor: pointer; 
    transition: .2s; 
}
.tip-percentage-button:hover {
    background: hsl(187, 60%, 73%);
}
.tip-percentage-button:hover + label {
    color: hsl(183, 100%, 15%);  
}
.tip-percentage-button.selected {
    background: hsl(172, 67%, 45%);
}
.tip-percentage-button.selected + label{
    color: hsl(183, 100%, 15%); 
}
#custom-tip-input {
    width: 100%; 
    height: 30px;
    padding: 10px 5px;  
    border-radius: 3px;
    background: hsl(189, 41%, 97%); 
    border: none;
    text-align: right; 
}
#custom-tip-input::placeholder {
    color: hsl(183, 100%, 15%);
    text-align: center;
}
#number-of-people-div {
    position: relative; 
}
#number-of-people-div::before {
    content: url(images/icon-person.svg);
    position: absolute;
    left: 1rem;
    top: 25%;  
}
#number-of-people {
    width: 100%;
    text-align: right; 
    background: hsl(189, 41%, 97%); 
    padding: .2rem 1rem;
    border: none;
    font-size: 1.5rem;  
    border-radius: 3px; 
}
label[for$="bill-input"], label[for$="number-of-people"] {
    font-size: .85rem; 
    margin: 0 0 6px; 
} 
form > p { 
    font-size: .85rem; 
    margin: 0 0 15px;
}
#output-section {
    width: 50%;  
    padding: 2rem 1.5rem 1.5rem;
    background: hsl(183, 100%, 15%); 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#outputs {
    display: flex;
    flex-direction: column; 
    gap: 10px;
}
#tip-amount-div, #total-per-person-div {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    align-items: center; 
}
.output-header {
    color: white;
    font-size: .9rem; 
}
#tip-amount-div p:nth-child(2), #total-per-person-div p:nth-child(2) {
    font-size: .8rem;
    color: hsl(185, 41%, 84%);
}
.output-header {
    color: white;
    font-size: .9rem; 
}
#tip-amount-div p:nth-child(2), #total-per-person-div p:nth-child(2) {
    font-size: .8rem;
    color: hsl(185, 41%, 84%);
}
#tip-output, #total-per-person-output {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3; 
    font-size: 2rem; 
    justify-self: flex-end;
    color: hsl(172, 67%, 45%);
}
#reset-button {
    width: 100%; 
    padding: .5rem 0;
    background: hsl(172, 67%, 45%);
    border: none;
    text-transform: uppercase;
    border-radius: 3px; 
    color: hsl(183, 100%, 15%);
    cursor: pointer;
    transition: .2s;
}
#reset-button:hover {
    background: hsl(187, 60%, 73%); 
}

@media screen and (max-width: 630px) {
    #card {
        gap: 1.3rem;  
    }
    #bill-input {
        font-size: 1rem;  
        padding: 6px .6rem;
    }
    #number-of-people {
        font-size: 1rem;
        padding: 5px .6rem;    
    }
    #bill-input-div::before {
        top: 27%;   
        left: .6rem;
    }
    #number-of-people-div::before {
        left: .6rem;
        top: 23%;  
    }
    label[for$="bill-input"], label[for$="number-of-people"] {
        font-size: .85rem;  
    } 
    form > p { 
        font-size: .85rem; 
    } 
    .radio-button-div label { 
        font-size: .8rem;
    }
    #custom-tip-input {
        font-size: .8rem;
    } 
    .output-header {
        font-size: .8rem; 
    }
    #tip-amount-div p:nth-child(2), #total-per-person-div p:nth-child(2) {
        font-size: .7rem; 
    }
    #tip-output, #total-per-person-output {
        font-size: 1.4rem;  
    }
    #reset-button {
        font-size: .75rem;   
    }
}

@media screen and (max-width: 540px) {
    main {
        justify-content: flex-end; 
        gap: 60px;  
    }
    #card {
        width: 100%;
        border-radius: 20px 20px 0 0;
        flex-direction: column; 
        padding: 6% 5%;     
    }
    form {  
        width: 100%;
    }
    #bill-input { 
        margin: 0 0 1.4rem;
    }
    #bill-input-div::before {
        top: 33%;   
    }
    #number-of-people-div::before {
        top: 24%;   
    }
    form > p { 
        margin: 0 0 10px; 
    }
    #tip-selection-grid {
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
        margin: 0 0 1.4rem;  
    }
    .tip-percentage-button { 
        height: 35px;
    }
    #custom-tip-input {
        height: 35px; 
    } 
    #output-section { 
        width: 100%; 
        gap: 2rem;   
    }
    #outputs {
        gap: 25px; 
    }
}